<h2>Todas las imágenes</h2>
<ng-container *ngFor="let i of imagenes">
  <img src="/assets/img/{{i.fichero}}">
</ng-container>
<hr>

<h2>Imágenes de naturaleza</h2>
<ng-container *ngFor="let i of imagenesDeNaturaleza">
  <img src="/assets/img/{{i.fichero}}">
</ng-container>
<hr>

<h2>Imágenes de comida</h2>
<ng-container *ngFor="let i of imagenesDeComida">
  <img src="/assets/img/{{i.fichero}}">
</ng-container>
<hr>

<h2>Imagen con id = 7</h2>
  <img src="/assets/img/{{imagen7.fichero}}"><br>
  Id: {{imagen7.id}}<br>
  Título: {{imagen7.titulo}}<br>
  Descripción: {{imagen7.descripcion}}<br>
  Fichero: {{imagen7.fichero}}<br>
  etiquetas: 
    <ng-container *ngFor="let e of imagen7.etiquetas">
      {{ e }} 
    </ng-container>  
  <br>
<hr>

<h2>Todas las etiquetas</h2>
<ng-container *ngFor="let e of etiquetas">
  {{ e }} 
</ng-container>
<hr>