<div class="photo-page">
  <div class="photo-container">
    <div class="go-back-container" (click)="goBack()">
      <i class="fa fa-long-arrow-left" aria-hidden="true" style="color:white;"></i>
      <span class="go-back-span">Regresar a la exploración</span>
    </div>
    <div class="image-centering">
      <img class="photo-detail" [src]="photo?.imageUrl">
    </div>
    <div class="photo-info row">
      <div class="col-xs-10">
          <!-- Tarea 1. Añade el comentario breve de la foto -->
          <h3 class="photo-title">{{photo?.title}} <span class="brief">- Descripción breve de la foto</span></h3>
      </div>
      <div class="col-xs-2" style="min-height: 48px;">
          <div class="options-ribbon">
              <span class="glyphicon glyphicon-heart"></span>
              <p class="inline-text">{{photo?.likes}}</p>
              <!-- Tarea 2. Añade el número de referencias de una foto -->
              <!-- <span class="glyphicon glyphicon-bookmark"></span>
              <p class="inline-text">15</p>  -->
          </div>
      </div>
    </div>
  </div>

  <div class="row padding" style="min-height:50vh">
    <div class="col-md-8 owner-container">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <div  class="round-picture" 
                [ngStyle]="{'background-image': 'url('+photo?.owner?.thumbUrl+'), url(assets/img/default_profile.png)'}">
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="owner-name">{{photo?.owner?.userName}} 
              <button (click)="onFollowButtonClick()" class="btn btn-default" style="float: right;">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  LIKE
              </button>
          </h3>
          <h4 style="text-align: left;">{{photo?.title}}</h4>
          <p style="text-align: justify;">{{photo?.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 photo-comments-container">
        <!-- Tarea 3. Muestra todos comentario de esta foto -->
        <!-- Tarea 4. Corrige un fallo -->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <div  class="round-picture" 
                  [ngStyle]="{'background-image': 'url('+photo.comments[0]?.thumbUrl+'), url(assets/img/default_profile.png)'}">
            </div>
          </div>
          <div class="col-md-9" style="padding-left: 0px;">
            <h4 class="owner-name">{{ photo?.comments[0]?.userName }}</h4>
            <p style="text-align: left;">{{ photo?.comments[0]?.commet }}</p>
          </div>
        </div>
    </div>
  </div>
</div>
